.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.error {
  color: red;
  font-weight: bold;
}
.container {
  max-width: 300px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
