.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-top: 100px;
  padding-inline: 20px;
}
.price {
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.5rem;
}
.image {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.information {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
